.title {
    font-size: 24px;
    font-weight: bold;
    color: blue;
    padding-bottom: 25px;
}

th {
    color: lightskyblue
}

td{
    color: lightblue
}

.name{
    display: flex;
}

.border {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(/Users/tgord/WITS/IntroProdDev/wits_25_final/projects/tzipporahgordon_frontenddeveloper/computer.png) 50 round; 
    /* new style */
    display: flex;
}

.gridLIne {
    display: flex;
    border: 1px solid black;
    padding: 10px;
}

@media (min-width: 700px) {

    .grow {
        font-size:x-large;
    } 
}
    
@media (max-width: 750px) {
    .grow {
        font-size:small;
    }
}